{% set yyyymm = date('first day of this month')|date('Y-m') %}
{% set data_date_counts = data_date_counts('blog', yyyymm) %}
{% import 'partial/blog/post_calendar.html.twig' as cal %}
{{ cal.calendar(yyyymm, data_date_counts) }}

{% set data_property_counts = data_property_counts('blog') %}
<div class="panel panel-default">
	<div class="panel-heading">
		<b>カテゴリ</b>
	</div>
	<div class="list-group">
		{% for key, cnt in data_property_counts.category %}
		<a class="list-group-item" href="{{urlFor('blog_list_filter', {'filter': 'category', 'value': key})}}">
			{{key}} <span class="badge">{{cnt}}</span>
		</a>
		{% endfor %}
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<b>タグ</b>
	</div>
	<div class="list-group">
		{% for key, cnt in data_property_counts.tag %}
		<a class="list-group-item" href="{{urlFor('blog_list_filter', {'filter': 'tag', 'value': key})}}">
			{{key}} <span class="badge">{{cnt}}</span>
		</a>
		{% endfor %}
	</div>
</div>
