{% set data_property_counts = data_property_counts(data_name) %}
<div class="panel panel-default">
	<div class="panel-heading">
		<b>Category</b>
	</div>
	<div class="list-group">
		{% for key, cnt in data_property_counts.category %}
		<a class="list-group-item" href="{{urlFor(url_name, {'filter': 'category', 'value': key})}}">
			{{key}} <span class="badge">{{cnt}}</span>
		</a>
		{% endfor %}
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<b>Tag</b>
	</div>
	<div class="list-group">
		{% for key, cnt in data_property_counts.tag %}
		<a class="list-group-item" href="{{urlFor(url_name, {'filter': 'tag', 'value': key})}}">
			{{key}} <span class="badge">{{cnt}}</span>
		</a>
		{% endfor %}
	</div>
</div>
